{{- $destination := .Destination -}}
{{- $url := urls.Parse $destination -}}
{{- if and (not $url.IsAbs) (not (hasPrefix $destination "#")) -}}
  {{- $targetDir := path.Join (path.Dir .Page.File.Dir) $url.Path -}}
  {{- $sourceDir := split (trim .Page.File.Dir "/") "/" -}}
  {{- if eq (len $sourceDir) 1 -}}
    {{- $destination = path.Join .Page.RelPermalink (lower $url.Path) -}}
  {{- else if .Page.Parent -}}
    {{- $destination = path.Join .Page.Parent.RelPermalink (lower $url.Path) -}}
  {{- else -}}
    {{- $currentPath := strings.TrimSuffix .Page.RelPermalink "/" -}}
    {{- $destination = path.Join (path.Dir $currentPath) (lower $url.Path) -}}
  {{- end -}}
  {{- $destination = printf "%s/" $destination -}}
  {{- if $url.Fragment -}}
    {{- $destination = printf "%s#%s" $destination $url.Fragment -}}
  {{- end -}}
{{- end -}}
<a href="{{ $destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text }}</a>
